<nav class="">
    <div id="navig">
        <a class="menu" key="Pradzia" href="/">Pradzia</a>
        <a class="menu" key="Kultura" href="/Kultura">Kultūra</a>
        <a class="menu" key="LankytinosVietos" href="/LankytinosVietos">Lankytinos Vietos</a>
        <a class="menu" key="KasVyksta" href="/KasVyksta">Kas Vyksta</a>
        <a class="menu" key="Saviveiklos" href="/Saviveiklos">Saviveiklos</a>
        <a class="language" key="EN" id="EN"> EN</a>
        <a class="language" key="LT" id="LT"> LT</a>
        <a href="/logout" class="signup" key="Logout">Atsijungti</a>
        <a class="signup" id="name">
            <%= name %>
        </a>

    </div>


    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="navHam()">
        <i class="fa fa-bars"></i>
    </a>
</nav>