<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') -%>

    <body>
        <header>
            <h1>Ukrinai</h1>
        </header>

        <%- include ('../partials/menu') -%>

            <div class="content">
                <p>aaaaa</p>
            </div>

            <%- include ('../partials/footer') -%>


    </body>
    <%- include ('../partials/scripts') -%>

</html>