<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') -%>

    <body>
        <header>
            <h1>Kas Vyksta Ukrinuose</h1>
        </header>

        <%- include ('../partials/menu') -%>


            <div class="content">
                <div class="LV">
                    <div class="photo" style="background-image: url(Ukrinu_koplytstulpis_resize.jfif);">

                    </div>
                    <div class="idk">
                        Koplystulpis
                        <div class="tekstas">
                            Ukrinų koplytstulpis baudžiavos panaikinimui atminti
                        </div>
                    </div>
                </div>
                <div class="LV">
                    <div class="photo">
                        <img src="" alt="Photos">
                    </div>
                    <div class="idk">
                        Ukrinai
                        <div class="tekstas">
                            Geras kaimelis
                        </div>
                    </div>
                </div>
            </div>

            <%- include ('../partials/footer') -%>


    </body>
    <%- include ('../partials/scripts') -%>

</html>