<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') -%>


    <body>
        <header>
            <h1>Kultūra</h1>
        </header>

        <%- include ('../partials/menu') -%>


            <div class="content">
                <div class="pavad" id="sokiai">
                    Šokiu Kolektyvas
                </div>
                <div class="pavad" id="Muzika">
                    Muzikantų Kolektyvas
                </div>
                <div class="pavad" id="Random">
                    Random Kolektyvas
                </div>
            </div>

            <%- include ('../partials/footer') -%>


    </body>
    <%- include ('../partials/scripts') -%>

</html>