<!DOCTYPE html>
<html lang="en">

<head>
    <title>Šokiai</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Šokiai</h1>
    </header>

    <nav>
        <a href="/">Pradzia</a>
        <a class="active" href="Sokiai.html">Sokiai</a>
        <a href="LankytinosVietos.html">Lankytinos Vietos</a>
        <a href="KasVyksta.html">Kas Vyksta</a>
        <a href="Saviveiklos.html">Saviveiklos</a>
        <a id="myBtnUp" class="signup">Registracija</a>
        <a id="myBtnIn" class="signup">Prisijungimas</a>

        <div id="In" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Prisijungimas</h2>
                    <span class="closeIn">&times;</span>
                </div>
                <div class="modal-body">
                    <form class="logins" action="" method="POST">
                        <label for="email">Jūsų Email adresas</label>
                        <input type="email" name="email" placeholder="Email">
                        <label for="pwd">Slaptažodis:</label>
                        <input type="password" name="pwd" placeholder="Slaptažodis">
                        <% if (locals.login_errors) { 
                            login_errors.forEach(function(error_msg){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= error_msg %>
                            </div>
                            <% });
                          } %>
                                <div class="modal-footer">
                                    <button type="submit" class="sign-btn">Prisijungti</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="Up" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Registracija</h2>
                    <span class="closeUp">&times;</span>
                </div>
                <div class="modal-body">
                    <form class="logins" action="/register" method="POST" novalidate>
                        <input type="text" name="username" placeholder="Jūsų Vardas" value="<%= (locals.old_data) ? old_data.username : ''; %>" required>
                        <input type="email" name="email" placeholder="Email" value="<%= (locals.old_data) ? old_data.user_email : ''; %>" required>
                        <input type="password" name="pwd" placeholder="Slaptazodis" required>
                        <% if (locals.register_error) { 
                            register_error.forEach(function(error_msg){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= error_msg %>
                            </div>
                            <% });
                          } %>
                                <div class="modal-footer">
                                    <button type="submit" class="sign-btn">Prisiregistruoti</button>
                                </div>
                    </form>
                </div>

            </div>
        </div>
    </nav>

    <div class="content">
        <p>aaaaa</p>
    </div>

    <footer>
        <h3>Footeris</h3>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/func.js"></script>

</html>